* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h1 {
    color:white;
    display: flex;
    margin: 16px;
    justify-content: center;
}

.playContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playArea {
    display: flex;
    flex-wrap: wrap;
    margin: 75px;
    border: 4px solid rebeccapurple;
    height: 800px;
    width: 800px;
}

.footer {
    display:flex;
}

.refresh {
    font-size: 28px;
    height: 100px;
    width: 200px;
    color: blue;
    background-color:orangered;
}

.changeCount {
    font-size: 28px;
    height: 100px;
    width: 200px;
    padding: 0px 8px;
    color: white;
    background-color:goldenrod;
}

.square {
    background-color: magenta;
    display: flex;
    flex-wrap: wrap;
}

.darken {
    background-color: blue;
}